.reader-container {
  @apply flex flex-col w-4/6 h-screen bg-gray-200;
}

.reader-empty {
  @apply flex justify-center items-center w-full h-full select-none;
}

.reader-empty > div {
  @apply w-40;
}

.reader-empty img {
  @apply opacity-75;
}

.reader-post {
  @apply container p-5 mx-auto prose;
}

.reader-post small {
  @apply uppercase;
}

.reader-post div {
  @apply leading-none;
}

.reader-post h1 {
  @apply mb-0;
}
