.image-icon {
    @apply flex flex-shrink-0 justify-center items-center w-6 h-6 bg-white rounded;
}

.image-icon > div {
    @apply w-4 h-4;
}

.image-icon img {
    @apply object-cover w-full h-full;
}

.logo-icon {
    @apply flex-shrink-0 w-6 h-6;
}
